.modal#modal(style="display: none;")
    .modal__dialog
        button.modal__close.js-close-modal &times;
        .modal__body#modal-body
            h1.modal__title Поздравить
                form#form-congratulate.form-congratulate(action="assets/response.html", method="get")
                    input.form-input(type="text", placeholder="Имя", name="username", required)
                    textarea.form-input.form-input--no-resize(placeholder="Поздравление", name="congrats", required)
                    button#submit.btn(type="submit") Поздравить