.slider#slider
    button#prev.slider__arrow.slider__arrow--prev Предыдущий
    button#next.slider__arrow.slider__arrow--next Следующий
    ul.slider__container
        li.slider__item.slider__item--active
            img.hero__img(src="assets/img/slider/pic_01.jpg", alt="")
        li.slider__item
            img.hero__img(src="assets/img/slider/pic_02.jpg", alt="")
        li.slider__item
            img.hero__img(src="assets/img/slider/pic_03.jpg", alt="")