doctype html
html.no-js(lang="ru")
    include partials/head
    body
        include components/slider
        include partials/content
        include components/modal
        include partials/footer
        script(src="assets/js/app.js")