main.page
    h1 У Тирекса День рождения!
    h6 Осталось:
    .countdown
        #days.time 00
        .time__separator :
        #hours.time 00
        .time__separator :
        #minutes.time 00
    button.btn Отправить