main.main
    h1.main__title У Тирекса День рождения!
    .countdown
        h6.countdown__title Осталось:
        #days.countdown__time 00
        .countdown__separator :
        #hours.countdown__time 00
        .countdown__separator :
        #minutes.countdown__time 00
    button#modal-open.btn Отправить открытку