.form-input {
  display: block;
  border-radius: $input-border-radius;
  border: 1px solid $input-border-color;
  width: 100%;
  padding: $input-padding;
  box-sizing: border-box;
  background: $white no-repeat right top content-box;
  height: 47px;
  &:focus {
    outline: none;
    border: 1px solid $input-outline-color;
  }
  &:valid {
    &:focus {
      border-color: $input-valid-border;
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAWCAMAAADzapwJAAAAQlBMVEUAAAAQjxAYlxgVlRUYlxgWlhYYlhgYlRgYlxgYlRgYlhgXlhcXlRcYlhgYlhgXlRcXlhcYlhgYlRgXlRcXlhcYlhgK5+1IAAAAFXRSTlMAECAwQFBfYH+AoK+wv8DP0N/g7/AA4S4tAAAAuElEQVR42lWQ4bbCIAyDG70KVQbdIO//qhfphpg/9HwnhBRx4fkuZHk/IV8hVmbtyqwRkxYqzlFZrrEed5m6HxXuPSCLcAy/0r1fP/UToSsLtRt7TCBWOpwMkvJC//j6HDmJ6ZJaBxUtQl2owTEdjy7YB3Vs2inDT381f1I7tzb753QWfHG7qBdEUxn8IZe0YS5/+11eYDsm8kJ+tn392L2dLhjjNUYa5j1t3GLXxqZYA0My0lI44T9KnwiDGJfJxAAAAABJRU5ErkJggg==);
    }
  }
}

.form-input__wrap {
  margin: $input-margin;
  position: relative;
}

.form-input__error {
  display: none;
  color: $input-invalid-text;
  position: absolute;
  bottom: -23px;
  font-size: rem-calc(14);
}

.form-input--invalid {
  &:not(:valid) {
    border-color: $input-invalid-border;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAWCAMAAADzapwJAAAAOVBMVEUAAADPAADHAADFAADEAADFAADGAADEAADFAADFAADFAADFAADFAADFAADFAADEAADEAADFAADFAAD7JjF7AAAAEnRSTlMAECAwX2BvcH+AkK+wwM/Q7/BJZZ6MAAAAp0lEQVR42mWR2w7DIAxD49EWMlhC8v8fO3Vc1fmF6MgywVATjizukg/QElL1wjFy8ZowqRijj2wyxqqBpoJWNK+CNkF/frbuLdz9xncEd9tnDFxBp+OJ4SeVQk98M+V/zEIe/3H0Db/jwjNkF+t25SusK7cFzcNaEMYjW9EzDPebmmkqVJ7VLEG0nSZ7sWIYVdaE+U+rZrB5TteVshtjDzyLums5O/wCvA0GxnxzoDUAAAAASUVORK5CYII=);
    + .form-input__error {
      display: block;
    }
  }
}


.form-input--no-resize {
  resize: none;
}