//general colors
$white: #fff;
$gray: gray;
$green: green;
$red: red;
$primary-color: blue;

$img-folder: '../img/';

//z-indexes

$index-modal-overlay: 1005;

//base styles

$border-radius-base: 4px;

//typography
$global-font-size: 16px;
$font-size--h1: 24px;
$font-size--h6: 20px;

//modal

$modal-bg: $white;
$modal-overlay: rgba(8, 8, 8, 0.45);
$modal-width: 500px;
$modal-border-radius: $border-radius-base;

//inputs

$input-border-radius: $border-radius-base;
$input-border-color: $gray;
$input-margin: 0 0 30px;
$input-padding: 10px 20px;
$input-valid-border: $green;
$input-invalid-border: $red;
$input-outline-color: $primary-color;

